body {
    background: rgb(226,0,255);
    background: radial-gradient(circle, rgba(226,0,255,1) 18%, rgba(226,200,46,1) 82%);
}

#button2{
    position: relative;
    margin-left: 80px;
    padding: 10px;
    width: 100px;
    color: white;
    background-color: lightblue;
    border: none;
}