body {
    background: rgb(226,0,255);
    background: radial-gradient(circle, rgba(226,0,255,1) 18%, rgba(226,200,46,1) 82%);
}
h1 {
    color: white;
    text-shadow: 3px 3px 5px red;
    text-align: center;
    font-size: 50px;
    font-family: 'Brush Script MT', cursive;
    line-height: 5px;
}

#text{

    position: relative;
    height: 50px;
    border-radius: 5px;
    padding: 4px;
    border: solid thin #aaa;
    width: 96%;
}

#button{

    padding: 10px;
    width: 100px;
    color: black;
    font-size: 16px;
    background-color: lightblue;
    border: none;
    width: 100%;
    border-radius: 4px;
}

#button2
{
    margin-top: 40px;
    padding: 10px;
    width: 100px;
    color: black;
    font-size: 16px;
    background-color: lightblue;
    border: none;
    width: 100%;
    border-radius: 4px;
}

#box{

    background-color: grey;
    margin: auto;
    width: 300px;
    padding: 20px;
    box-shadow: 0 0 50px black;
    border-radius: 4px;
}